body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  background-color: white;
  box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 46px;
}

.header-top-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-top-logo {
  width: 109px;
  padding: 13px 56px 10px 55px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b92639;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search-form {
  position: relative;
  max-width: 270px;
  position: relative;
  background-color: #293449;
  box-sizing: border-box;
}

.search-form input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: inherit;
}

.search-form input {
  width: 270px;
  background-color: inherit;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
}

.search-button {
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  right: 232px;
  margin-top: -9px;
  opacity: 0.3;
}

input[type="search"]:focus {
  background-color: #fff;
  color: #000;
  border: none;
  box-shadow: none;
}

input:hover + .search-button, input:focus + .search-button{
  opacity: 1;
}

input:focus + .search-button path{
  fill: #ee3643;
}

.order-menu {
  display: flex;
  justify-content: space-between;
  width: 450px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}

.order-menu-item a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.bookmark a{
  position: relative;
  padding-right: 28px;
  padding-left: 46px;
}

.cart a{
  position: relative;
  padding-left: 50px;
  padding-right: 32px;
}

.bookmark a::before {
  position: absolute;
  content: "";
  background: url("../img/icon-bookmark.svg") no-repeat ;
  width: 14px;
  height: 16px;
  opacity: 0.3;
  left: 17px;
  top: 13px;
}

.cart a::before {
  position: absolute;
  content: "";
  background: url("../img/icon-cart.svg") no-repeat;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  left: 18px;
  top: 13px;
}
.search-form:hover, .bookmark:hover, .cart:hover {
  background-color: #212a3a;
}

.bookmark:hover a::before, .cart:hover a::before {
  opacity: 1;
}

.order-button a{
  display: block;
  background-color: #63a63e;
  padding-left: 20px;
  padding-right: 22px;
}
.order-button a:hover{
  background-color: #5fbb2d;
}
.order-menu-item a:active {
  opacity: 0.5;
}

.header-middle{
  margin-bottom: 40px;
}
.header-middle, .nav-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.header-middle h1 {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  margin-left: 53px;
}

.phone-button {
  display: block;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding: 10px 49px 8px 71px;
  border: 3px solid #ffffff;
  text-decoration: none;
}

.phone-button::before {
  position: absolute;
  content: "";
  background: url(../img/icon-phone.svg) no-repeat;
  width: 19px;
  height: 19px;
  left: 15px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  margin-bottom: 0;
}

.user-menu {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
}

.user-menu a {
  display: block;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #fff;
}

.login-button a {
  display: block;
  padding: 14px 27px 11px 48px;
  margin-right: 10px;
}

.login-button a::before {
  position: absolute;
  content:"";
  background: url(../img/icon-login.svg) no-repeat;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  opacity: 0.3;
}

.reg-button a{
  display: block;
  padding: 14px 25px 11px 25px;
}

.user-menu a:hover {
  color: #ee3643;
}

.login-button:hover a::before {
  opacity: 1;
}

.login-button:active, .reg-button:active  {
  opacity: 0.3;
}
.login-button:active a, .reg-button:active a  {
  color: #000;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #32425c;
  align-items: center;
  box-shadow: inset 0 -5px 0 0 #293449;
  flex-wrap: wrap;
}

.nav-item a {
  display: block;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 26px ;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  padding-right: 28px;
  padding-left: 28px;
}

.nav-item-main a {
  padding-left: 55px;
}

.nav-item-contact a {
  padding-right: 55px;
}

.nav-item a:hover {
  color: rgba(255, 255, 255,);
  background-color: #1d2739;
}
.nav-item a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}
.main {
  padding-top: 60px;
}

.catalog {
display: flex;
flex-wrap: wrap;
}

.catalog-wrapper-1 {
  display: flex;
  width: 620px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-wrapper-2 {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.catalog-item h3, .slider p, .slider ul {
  margin: 0;
  padding: 0;
}
.catalog-item a:not(.open-catalog-button) {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 11px;
  rgba(255, 255, 255, 1);
}

.catalog-item a:not(.open-catalog-button):hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-item a:not(.open-catalog-button):active{
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-wrapper-2 .catalog-item {
  margin-bottom: 20px;
  margin-left: 20px;
}
.catalog-item:not(.slider) {
  width: 277px;
  padding-left: 23px;
  padding-top: 23px;
  padding-bottom: 22px;
}

.popular-item img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
}
.order-modal {
  position: absolute;
  z-index: 5;
  width: 218px;
  max-height: 164px;
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  padding-bottom: 37px;
  background-color: #fff;
}

.popular-item img:hover, .popular-item img:active {
  z-index: 3;
}
.order-modal-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  align-self: center;
}

.cart-modal-button {
  margin-bottom: 7px;
}

a.cart-modal-button {
  color:#fff;
  padding: 14px 45px 14px 49px;
  background-color: #63a63e;
  box-shadow: 0 3px 0 0 #367315;
  border-radius: 5px;
}

a.cart-modal-button:hover {
  background-color: #5fbb2d;
}

a.cart-modal-button:active {
  background-color: #518534;
}

a.bookmark-modal-button {
  color: #32425c;
  padding: 11px 29px 9px 33px;
  background-color: transparent;
  border: 3px solid #63a63e;
  border-radius: 5px;
}

a.bookmark-modal-button:hover {
  border-color: #32425c;
}

a.bookmark-modal-button:active {
  opacity: 0.3;
}

.slider {
  margin-top: 20px;
  width: 620px;
  min-height: 266px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.slider-wrapper {
  position: relative;
}

.slider a {
  text-decoration: none;
}

.slide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 27px 20px 22px 24px;
  align-items: flex-start;
}

.turn-left-button {
  position: absolute;
  background: url("../img/icon-left.svg") no-repeat;
  width: 22px;
  height: 40px;
  top: 50%;
  left: 24px;
  margin-top: -30px;
  border: none;
}
.turn-right-button {
  position: absolute;
  background: url("../img/icon-right.svg") no-repeat;
  width: 22px;
  height: 40px;
  top: 50%;
  right: 22px;
  margin-top: -30px;
  border: none;
}
.catalog-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px

}
.catalog-item .slide h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.slide p {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 124px;
}

.catalog {
  color: #ffffff;
}

.catalog-item .first-slide {
  background: url("../img/slider-image1.jpg") no-repeat;
  width: 620px;
  min-height: 266px;
}

.catalog-item .second-slide {
  background: url("../img/slider-image2.jpg") no-repeat;
  width: 620px;
  min-height: 266px;
}

.catalog-wrapper-1, .catalog-wrapper-2, {
  display: flex;
  justify-content: space-between;
}


.item1 {
  position: relative;
  background-color: #ffbf47;
}

.item1 a {
  padding-left: 24px;
  padding-right: 24px;
}

.item1 a::after {
  position: absolute;
  content: "";
  background: url("../img/icon-materiali.svg") no-repeat;
  width: 44px;
  height: 66px;
  top: 50%;
  margin-top: -33px;
  right: 42px;
}

.item2{
  position: relative;
  background-color: #3bbce3;
}

.item2 a {
  padding-left: 26px;
  padding-right: 27px;
}

.item2 a::after {
  position: absolute;
  content: "";
  background: url("../img/icon-instrument.svg") no-repeat;
  width: 75px;
  height: 60px;
  top: 50%;
  margin-top: -30px;
  right: 26px;
}

.item3{
  position: relative;
  background-color: #dc91d8;
}

.item3 a::after {
  position: absolute;
  content: "";
  background: url("../img/icon-tehnika.svg") no-repeat;
  width: 78px;
  height: 62px;
  top: 50%;
  margin-top: -31px;
  right: 30px;
}

.item3 a {
  padding-left: 30px;
  padding-right: 31px;
}

.item4{
  position: relative;
  background-color: #8ed78f;
}

.item4 a {
  padding-left: 23px;
  padding-right: 23px;
}

.item4 a::after {
  position: absolute;
  content: "";
  background: url("../img/icon-sale.svg") no-repeat;
  width: 59px;
  height: 72px;
  top: 50%;
  margin-top: -36px;
  right: 45px;
}

.item5{
  position: relative;
  background-color: #ffc047;
}

.item5 a {
  padding-left: 37px;
  padding-right: 37px;
}

.item5 a::after {
  position: absolute;
  content: "";
  background: url("../img/icon-delivery.svg") no-repeat;
  width: 78px;
  height: 64px;
  top: 50%;
  margin-top: -32px;
  right: 30px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
}

a.button, a.popular-item, a.popular-vendor {
  text-decoration: none;
}

a.button:hover {
  background-color: #ca2c37;
}

a.button:active{
  background-color: #ba2732;
}

a.button.open-catalog-button {
  padding: 11px 45px 11px 50px;
}

.popular-head-wrapper {
  width: 886px;
  background-color: #f9f5f0;
  padding: 25px 24px 26px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.popular-head-wrapper h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.popular-items-button {
  padding-left: 55px;
  padding-right: 55px;
}
.popular-vendors-button {
  padding-left: 69px;
  padding-right: 69px;
}

.popular ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-items, .popular-vendors  {
  margin: 0;
  padding: 0;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.popular-items {
  margin-top: 20px;
  margin-bottom: 20px;
}
.price {
  position: relative;
  font-family: "PTSans",  Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-button {
  margin-top: 11px;
  width: 70px;
  padding: 11px 20px 11px 36px;
  border-radius: 5px 0 0 5px;
}
.price-button::after {
  position: absolute;
  content: "";
  border: 20px solid #ffffff;
  top: 0px;
  right: -20px;
  border-right: 0;
  border-left-color: #ee3643;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}


.popular-item {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  padding-bottom: 20px;
}
.popular-item a {
  text-decoration: none;
}

.popular-item h3 {
  margin: 0;
  font-family: "PTSans",  Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
  margin-bottom: : 14px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
span.uppercase {
  text-transform: uppercase;
}
.popular-item img {
  margin-bottom: 10px;
}
.new .price-button {
  margin-top: 33px;
}
.popular-vendors {
  margin-bottom: 85px;
}
.popular-vendor {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  width: 220px;

  min-height: 145px;
}

.popular-vendor a {
  position: relative;
  width: 220px;
  min-height: 145px;
  border: 1px solid #eaeaea;
}

img.bosch {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -63px;
  margin-top: -18px;
}

img.makita {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -61px;
  margin-top: -20px;
}

img.de-walt {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -73px;
  margin-top: -22px;
}

img.interscol {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -100px;
  margin-top: -54px;
}

img.hitachi {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -84px;
  margin-top: -15px;
}

img.lg {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -60px;
  margin-top: -36px;
}

img.aeg {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -75px;
  margin-top: -48px;
}

img.metabo {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -102px;
  margin-top: -34px;
}

.popular-vendor a:hover {
  border: none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.popular-vendor a:active {
  border: none;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}
.service {
  background-color: #f4f7f9;
  padding-top: 68px;
}
.service h2 {
  font-family: "Cuprum",  Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;

}
.service p {
  font-family: "PTSans",  Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.slider-item-1 {
  background: url("../img/delivery.png") no-repeat;
  flex-grow: 1;
}

.slider-tab a{
  font-family: "Cuprum",  Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.slider-item h2 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}
.service-slider-wrapper {
  display: flex;
  margin: 0 0px;
}

.slider-nav {
  position: relative;
  align-self: start;
  list-style: none;
  margin: 0;
  margin-right: 80px;
  padding: 50px 0;
}
.slider-content section {
  margin: 0;
}
.slider-nav::before {
  content: "";
  position: absolute;
  left: 145px;
  top: 5px;
  bottom: 5px;
  width: 24px;
  border-radius: 50%;
  box-shadow: -7px 0 3px 0px hsla(0, 0%, 10%, 0.2);
}

.slider-tab {
  width: 240px;
  display: block;
  padding: 20px 30px;
  color: #ffffff;
  text-decoration: none;
  background-color: #32425c;
  border-top: 1px #405069 solid;
  border-bottom: 1px #293449 solid;
}

.slider-tab:hover {
  background-color: #293449;
}
.slider-tab a:active {
  background-color: #fff;
  color: #000;
}
.slider-content {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.slider-item {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 400px;
  min-height: 100%;
  padding: 30px 0px;
  background-color: hsl(204 29% 97%);
}

.slider-item:target {
  z-index: 10;
}

.about-company {
  flex-grow: 1;
}
.contact-us {
  width: 300px;
  margin-left: 120px;
}
.about-company ul{
  margin: 0;
}
p.about-company, p.contact-us {
  font-family: "PTSans",  Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.about-company h2, .contact-us h2 {
  font-family: "Cuprum",  Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}
ul.delivery-company {
  padding-left: 22px;
  margin-bottom: 35px;
  list-style: none;
}

.about-company-button {
  padding: 14px 40px 12px 41px;
}
.write-us-button {
  padding: 14px 51px 12px 61px;
}
.about-company-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.delivery-company li::before{
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background: #ee3643;
  top: 50%;
  margin-bottom: -1px;
  left: -36px;
}

.delivery-company li {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  margin-left: 11px;
  margin-bottom: 24px;
}
.map {
  display: inline-block;
  margin-bottom: 33px;
}
.footer {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  text-align: left;
  border-top: 1px solid #f3f7f9;
  padding-top: 12px;
}
.footer a {
  text-decoration: none;
}
.main-footer-nav a {
  color: #fff;
}
.footer-nav li, .footer-bottom li {
  list-style: none;
}

.footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
  margin-top: 15px;
}

.footer-logo {
  width: 138px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  padding: 20px 41px 25px 41px;
  margin-bottom: 29px;
}

.footer-contact {
  width: 350px;
  margin: 0;
  padding-top: 32px;
}

.main-footer .container  {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

}

.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  align-items: flex-start;
  padding-top: 35px;

}

.main-footer-nav, .second-footer-nav {
  display: flex;
  justify-content: flex-end;
}

.footer-nav {
  padding-top: 36px;
}
.footer-nav ul {
  margin: 0;
  padding: 0;

}
.footer-nav li:not(:first-child) {
  margin-left: 55px;
}

.main-footer-nav .footer-nav-item {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-connect-us a, .footer-copyright a, .second-footer-nav a {
  color: #ffd180;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
}

.footer-social li{
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 3px;
}

.vk:after {
  position: absolute;
  content: "";
  background: url("../img/icon-vk.svg") no-repeat;
  width: 26px;
  height: 15px;
  left: 7px;
  top: 14px;
}

.fb::after {
  position: absolute;
  content: "";
  background: url("../img/icon-fb.svg") no-repeat;
  width: 12px;
  height: 22px;
  top: 11px;
  left: 60px;
}
.insta::after {
  position: absolute;
  content: "";
  background: url("../img/icon-insta.svg") no-repeat;
  width: 21px;
  height: 21px;
  top: 11px;
  left: 101px;
}

.footer-social li:hover, .footer-social li:active {
  background-color: #ee3643;
}
.footer-connect-us, .footer-copyright, .footer-campain-info {
  display: flex;
  flex-direction: column;
}

.footer-connect-us a:hover, .footer-copyright a:hover {
  text-decoration: underline;
}

.footer-connect-us a:active, .footer-copyright a:active {
  color: #ee3643;
}

a.footer-nav-item:hover {
  text-decoration: underline;
}

a.footer-nav-item:active {
  color: rgba(255, 209, 128, 0.5);
}
.footer-bottom p {
  margin-top: 0;
  margin-bottom: 0;
}

p.footer-campain-info {
  margin-right: 160px;
}

.footer-social {
  margin-right: 108px;
}

p.footer-connect-us {
  margin-right: 48px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.display-none {
  display: none;
}
