body {
  position: relative;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: black;
  background-color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.header-top {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 46px;
}

.header-top-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.header-top-logo {
  width: 220px;
  padding: 12px 56px 8px 55px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b92639;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:disabled {
  background-color: #ba2732;
}

.search-form {
  min-width: 270px;
  position: relative;
  background-color: #293449;
  box-sizing: border-box;
}

.search-form input::placeholder {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: inherit;
}

.search-form input {
  position: relative;
  width: 270px;
  border: none;
  background-color: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 47px;
}

.search-button {
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  left: 12px;
  margin-top: -9px;
  opacity: 0.3;
}

input[type="search"]:focus {
  background-color: #fff;
  color: #000;
  border: none;
  box-shadow: none;
}

input:hover+.search-button, input:focus+.search-button {
  opacity: 1;
}

input:focus+.search-button path {
  fill: #ee3643;
}

.order-menu {
  display: flex;
  min-width: 450px;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-menu-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.bookmark a {
  position: relative;
  padding-right: 27px;
  padding-left: 45px;
}

.bookmark span, .cart span {
  margin-left: 5px;
}

.cart a {
  position: relative;
  padding-left: 49px;
  padding-right: 30px;
}

.bookmark a::before {
  position: absolute;
  content: "";
  background: url("../img/icon-bookmark.svg") no-repeat;
  width: 14px;
  height: 16px;
  opacity: 0.3;
  left: 17px;
  top: 13px;
}

.cart a::before {
  position: absolute;
  content: "";
  background: url("../img/icon-cart.svg") no-repeat;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  left: 18px;
  top: 13px;
}

.search-form:hover, .bookmark:hover, .cart:hover {
  background-color: #212a3a;
}

.bookmark:hover a::before, .cart:hover a::before {
  opacity: 1;
}

.order-button {
  background-color: #63a63e;
}

.order-button a {
  display: block;
  padding-left: 19px;
  padding-right: 22px;
}

.order-button a:hover {
  background-color: #5fbb2d;
}

.order-menu-item a:disabled {
  opacity: 0.5;
}

.header-middle {
  margin-bottom: 38px;
}

.header-middle, .nav-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.header-middle h1 {
  font-family: inherit;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  margin-top: 4px;
  margin-left: 52px;
  margin-right: 6px;
  letter-spacing: 0.2px;
}

.phone-button {
  display: inline-block;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding: 9px 49px 9px 71px;
  border: 3px solid #ffffff;
  text-decoration: none;
}

.phone-button::before {
  position: absolute;
  content: "";
  background: url(../img/icon-phone.svg) no-repeat;
  width: 19px;
  height: 19px;
  left: 12px;
}

.address {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 0;
}

.user-menu {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
}

.user-menu a {
  display: block;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #fff;
}

.login-button a {
  display: block;
  padding: 13px 27px 12px 48px;
  margin-right: 8px;
}

.login-button a::before {
  position: absolute;
  content: "";
  background: url(../img/icon-login.svg) no-repeat;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 16px;
  opacity: 0.3;
}

.reg-button a {
  display: block;
  padding: 13px 25px 12px 25px;
}

.user-menu a:hover {
  color: #ee3643;
}

.login-button:hover a::before {
  opacity: 1;
}

.login-button:disabled, .reg-button:disabled {
  opacity: 0.3;
}

.login-button:disabled a, .reg-button:disabled a {
  color: #000;
}

.user-logout {
  flex-direction: column;
  align-items: flex-start;
}

.user-menu-main {
  position: relative;
  min-width: 300px;
  background-color: #fff;
  margin-bottom: 6px;
}

.user-menu-main a.username {
  display: block;
  padding: 14px 40px 11px 47px;
}

.user-menu-main .username::before {
  position: absolute;
  content: "";
  background: url("../img/icon-user.svg") no-repeat;
  width: 20px;
  height: 18px;
  top: 14px;
  left: 13px;
  opacity: 0.2;
}

.logout-button {
  position: absolute;
  background: url("../img/icon-logout.svg") no-repeat;
  width: 20px;
  height: 18px;
  border: none;
  top: 14px;
  right: 11px;
  opacity: 0.2;
}

.user-menu-main:hover .username::before,
.user-menu-main:hover .logout-button {
  opacity: 1;
}

a.user-menu-item {
  display: inline-block;
  background: transparent;
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
}

.modal-wrapper {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  width: 620px;
  min-height: 430px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 423px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  background-color: #fff;
  z-index: 100;
  box-sizing: border-box;
}

.modal-write-us-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-write-us-wrapper .modal-item {
  flex-grow: 1;
}

.modal-write-us textarea {
  resize: vertical;
}

.modal-write-us-wrapper .modal-item:first-of-type {
  margin-right: 20px;
}

.modal-write-us>input {
  width: 220px;
}

.modal-login-wrapper, .modal-reg-wrapper, .modal-write-us-wrapper {
  padding: 55px 80px;
  list-style: none;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
}

.modal-close-button {
  position: absolute;
  content: "";
  background: url("../img/icon-close.svg") no-repeat transparent;
  width: 21px;
  height: 21px;
  top: 10px;
  right: 10px;
  border: none;
}

.modal-close-button:focus {
  outline: none;
  box-shadow: 0 0 1px 0 rgba(0, 1, 1, 0.75);
}

.modal-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.modal-item label {
  margin-bottom: 13px;
}

.modal-item input, .modal-item textarea {
  box-sizing: border-box;
  min-width: 192px;
  padding: 10px 14px;
  border: 2px solid #d7dcde;
}

.modal-item input::placeholder, .modal-item textarea::placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999;
}

.modal-item input:hover, .modal-item textarea:hover {
  border-color: #b5b5b5;
}

.modal-item input:focus, .modal-item textarea:focus {
  outline: none;
  border-color: #ee3643;
}

.modal-bottom {
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.modal-login-button, .modal-reg-button {
  width: 100%;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-map .modal {
  position: fixed;
  width: 940px;
  height: 446px;
  border-top: none;
}

.modal-add-to-cart .modal {
  min-width: 620px;
  min-height: 282px;
}

.modal-add-to-cart .modal h3 {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 30px;
  margin: 68px 45px 68px 179px;
}

.modal-add-to-cart .modal h3::before {
  position: absolute;
  top: -20px;
  left: -100px;
  content: "";
  background: url("../img/icon-mark.svg") no-repeat;
  width: 66px;
  height: 66px;
}

.modal-add-to-cart .modal-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-to-cart-button {
  width: 220px;
}

.add-to-cart-button {
  width: 220px;
}

.modal-add-to-cart .purchace-continue-button {
  width: 220px;
  color: #000;
  background-color: #fff;
}

.modal-show {
  display: flex;
  animation: show 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #32425c;
  align-items: center;
  border-bottom: 5px solid #293449;
  flex-wrap: wrap;
}

.nav-item a {
  display: block;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 18px;
  background-color: #32425c;
  padding-right: 31px;
  padding-left: 30px;
}

.nav-item-main a {
  padding-left: 50px;
}

.nav-item-contact a {
  padding-right: 55px;
}

.nav-item a:hover {
  color: rgba(255, 255, 255);
  background-color: #1d2739;
}

.nav-item a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main {
  padding-top: 60px;
}

.catalog-menu {
  width: 100%;
  height: auto;
  display: flex;
  color: #ffffff;
  margin-bottom: 30px;
}

.new-item {
  position: relative;
}

.new-item::after {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  z-index: 20;
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
  box-shadow: none;
  border: none;
}

a.button, a.catalog-item, a.popular-vendor {
  text-decoration: none;
}

.button:hover {
  background-color: #ca2c37;
}

.button:disabled {
  background-color: #ba2732;
}

.catalog-wrapper-1 {
  display: flex;
  flex-direction: column;
  width: 620px;
}

.catalog-wrapper-1-dop {
  display: flex;
  flex-wrap: wrap;
}

.catalog-wrapper-1 .catalog-menu-item {
  margin-left: 20px;
}

.catalog-wrapper-1 .item1 {
  margin-left: 0;
}

.catalog-wrapper-2 {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.catalog-menu-item p {
  padding: 0;
}

.catalog-menu-item {
  position: relative;
  width: 300px;
  height: 123px;
  padding: 20px 25px;
  margin-bottom: 20px;
}

.catalog-wrapper-2 .catalog-menu-item {
  margin-left: 20px;
}

.catalog-menu-item h3 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.catalog-button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 9px;
  margin-top: 13px;
}

.catalog-menu-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-menu-item a:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-slider {
  max-width: 620px;
  position: relative;
  margin: auto;
  min-height: auto;
}

.catalog-slides img {
  width: 100%;
  height: auto;
}

.catalog-slides a {
  text-decoration: none;
}

.catalog-slide {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  color: #f2f2f2;
  font-size: 12px;
  padding: 27px 24px 22px 24px;
  position: absolute;
  top: 0;
}

.turn-left-button {
  position: absolute;
  background: url("../img/icon-left.svg") no-repeat;
  width: 22px;
  height: 40px;
  top: 50%;
  left: 24px;
  margin-top: -24px;
  border: none;
}

.turn-right-button {
  position: absolute;
  background: url("../img/icon-right.svg") no-repeat;
  width: 22px;
  height: 40px;
  top: 50%;
  right: 20px;
  margin-top: -24px;
  border: none;
}

.catalog-slide h3 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-slide p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 124px;
}

/* The dots/bullets/indicators */
.slider-dots {
  position: absolute;
  left: 50%;
  margin-left: -19px;
  bottom: 36px;
}

.slider-dots-dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.disabled,
.slider-dots-dot:focus {
  background-color: #ee3643;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.item1 {
  background: url("../img/icon-materiali.svg") no-repeat #ffbf47;
  background-position: 85% 50%;
}

.item1 a {
  padding-left: 24px;
  padding-right: 24px;
}

.item2 {
  background: url("../img/icon-instrument.svg") no-repeat #3bbce3;
  background-position: 85% 50%;
}

.item2 a {
  padding-left: 26px;
  padding-right: 27px;
}

.item3 {
  background: url("../img/icon-tehnika.svg") no-repeat #dc91d8;
  background-position: 85% 50%;
}

.item3 a {
  padding-left: 30px;
  padding-right: 31px;
}

.item4 {
  background: url("../img/icon-sale.svg") no-repeat #8ed78f;
  background-position: 85% 50%;
}

.item4 a {
  padding-left: 23px;
  padding-right: 23px;
}

.item5 {
  background: url("../img/icon-delivery.svg") no-repeat #ffc047;
  background-position: 85% 50%;
}

.item5 a {
  padding-left: 37px;
  padding-right: 37px;
}

a.catalog-button:hover {
  background-color: #000;
  opacity: 0.2;
}

a.catalog-button:disabled {
  background-color: #000;
  opacity: 0.3;
}

.catalog-item img {
  width: 218px;
  min-height: 164px;
  z-index: 10;
  overflow: hidden;
}

.order-modal {
  position: absolute;
  z-index: 5;
  width: 218px;
  max-height: 164px;
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  padding-bottom: 37px;
  background-color: #fff;
}

.catalog-item:hover img, .catalog-item:disabled img {
  z-index: 3;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.order-modal-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  align-self: center;
}

.cart-modal-button {
  margin-bottom: 7px;
}

.catalog-item .cart-modal-button {
  position: relative;
  color: #fff;
  padding: 14px 45px 14px 49px;
  background-color: #63a63e;
  box-shadow: 0 3px 0 0 #367315;
  border-radius: 5px;
}

a.cart-modal-button::before {
  content: "";
  position: absolute;
  background: url("../img/icon-cart.svg") no-repeat;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 18px;
  opacity: 0.4;
}

a.cart-modal-button:hover {
  background-color: #5fbb2d;
}

a.cart-modal-button:disabled {
  background-color: #518534;
}

a.bookmark-modal-button {
  color: #32425c;
  padding: 11px 29px 9px 33px;
  background-color: transparent;
  border: 3px solid #63a63e;
  border-radius: 5px;
}

a.bookmark-modal-button:hover {
  border-color: #32425c;
}

a.bookmark-modal-button:disabled {
  opacity: 0.3;
}

.open-catalog-button {
  padding: 10px 45px 10px 50px;
}

.popular-head-wrapper {
  width: auto;
  background-color: #f9f5f0;
  padding: 25px 24px 23px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.popular-head-wrapper h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.popular-items-button {
  padding: 10px 55px;
}

.popular-vendors-button {
  padding: 10px 69px;
}

.catalog-items, .popular-vendors {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.price {
  position: relative;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.price-button {
  margin: 0;
  margin-top: auto;
  padding: 12px 40px 12px 36px;
  background: url("../img/red-button.svg") no-repeat;
  background-position: 40px 0;
  color: #ffffff;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  margin: 0;
  margin-bottom: 10px;
}

.catalog-item {
  position: relative;
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.popular-vendor {
  display: block;
  margin-bottom: 20px;
  width: 220px;
  min-height: 145px;
  margin-right: 20px;
}

.popular-item:nth-child(4n), .popular-vendor:nth-child(4n) {
  margin-right: 0px;
}

.catalog-item a {
  text-decoration: none;
  color: inherit;
}

.catalog-item-name {
  margin: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000;
  text-align: center;
  flex-grow: 1;
}

.catalog-item-name>span {
  display: block;
}

.catalog-item-bottom {
  min-height: 154px;
  padding: 12px 31px 21px 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.popular-vendors {
  margin-bottom: 65px;
}

.popular-vendor a {
  display: block;
  position: relative;
  width: 220px;
  min-height: 145px;
  border: 1px solid #eaeaea;
}

img.bosch {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -63px;
  margin-top: -18px;
}

img.makita {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -61px;
  margin-top: -20px;
}

img.de-walt {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -73px;
  margin-top: -22px;
}

img.interscol {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
}

img.hitachi {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -84px;
  margin-top: -15px;
}

img.lg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -36px;
}

img.aeg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -48px;
}

img.metabo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -101px;
  margin-top: -36px;
}

.popular-vendor a:hover {
  border: none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-vendor a:disabled {
  border: none;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service {
  background-color: #f4f7f9;
  padding-top: 40px;
  padding-bottom: 42px;
}

.service h2 {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 30px;
}

.service p {
  color: #000;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.slider-item h2 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin-bottom: 22px;
}

.service-slider-wrapper {
  display: flex;
  margin: 0 0px;
}

.slider-nav {
  position: relative;
  align-self: start;
  list-style: none;
  margin: 0;
  margin-right: 80px;
  padding: 54px 0;
  overflow: hidden;
}

.slider-nav::before {
  content: "";
  position: absolute;
  left: 240px;
  top: 10px;
  bottom: 5px;
  width: 24px;
  border-radius: 50%;
  box-shadow: -7px 0 3px 0px hsla(0, 0%, 10%, 0.2);
}

.slider-tab {
  width: 240px;
}

.slider-tab a {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  display: block;
  padding: 17px 130px 16px 22px;
  color: #ffffff;
  text-decoration: none;
  background-color: #32425c;
  border-top: 1px #405069 solid;
  border-bottom: 1px #293449 solid;
}

.slider-tab a:hover {
  background-color: #293449;
}

.slider-tab.disabled a,
.slider-tab a:disabled {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.slider-content {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.slider-item {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 700px;
  min-height: 100%;
  padding: 30px 0px;
}

.delivery {
  background: url("../img/delivery.png") no-repeat hsl(204 29% 97%) 150px 80px;
}

.guarantee {
  background: url("../img/guarantee.png") no-repeat hsl(204 29% 97%) 250px 60px;
}

.credit {
  background: url("../img/credit.png") no-repeat hsl(204 29% 97%) 160px 80px;
}

.slider-item:target {
  z-index: 10;
}

.credit-button {
  display: inline-block;
  padding: 14px 44px;
  margin-top: 30px;
}

.contact-us {
  width: 300px;
  margin-left: 120px;
}

.delivery-company {
  margin: 0;
  padding-left: 22px;
  margin-top: 23px;
  margin-bottom: 28px;
  list-style: none;
}

.about-company p, .contact-us p {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: -0.3px;
  margin-top: 25px;
}

.about-company p:nth-of-type(2) {
  display: block;
  margin-top: 25px;
}

.about-company h2, .contact-us h2 {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.about-company-button {
  padding: 10px 40px 10px 41px;
}

.write-us-button {
  padding: 10px 60px 10px 61px;
  margin-left: 420px;
}

.about-company-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}

.delivery-company li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background: #ee3643;
  top: 50%;
  margin-bottom: 0px;
  left: -33px;
}

.delivery-company li {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  margin-top: 15px;
  margin-left: 12px;
  margin-bottom: 25px;
}

.about-company-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  padding-bottom: 84px;
}

.map-button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 28px;
}

.footer {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  text-align: left;
  border-top: 1px solid #f3f7f9;
}

.footer a {
  text-decoration: none;
}

.main-footer-nav a {
  color: #fff;
}

.footer-nav li, .footer-bottom li {
  list-style: none;
}

.footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  text-align: left;
  padding-top: 15px;
}

.footer-logo {
  display: inline-block;
  width: 220px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  padding: 20px 41px 20px 41px;
  margin-bottom: 28px;
}

.footer-contact {
  width: 350px;
  margin: 0;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-top: 25px;
}

.main-footer-nav, .second-footer-nav {
  display: flex;
  justify-content: flex-end;
}

.footer-nav {
  padding-top: 40px;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
}

.footer-nav li:not(:first-child) {
  margin-left: 60px;
}

.main-footer-nav .footer-nav-item {
  display: inline-block;
  margin-bottom: 35px;
}

.footer-connect-us a, .footer-copyright a, .second-footer-nav a {
  color: #ffd180;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
  top: -3px;
  left: 3px;
}

.footer-social a {
  display: inline-block;
  background-color: #212a3a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.vk a:after {
  position: absolute;
  content: "";
  background: url("../img/icon-vk.svg") no-repeat;
  width: 26px;
  height: 15px;
  left: 7px;
  top: 12px;
}

.fb a::after {
  position: absolute;
  content: "";
  background: url("../img/icon-fb.svg") no-repeat;
  width: 12px;
  height: 22px;
  top: 10px;
  left: 60px;
}

.insta a::after {
  position: absolute;
  content: "";
  background: url("../img/icon-insta.svg") no-repeat;
  width: 21px;
  height: 21px;
  top: 10px;
  left: 100px;
}

.footer-social a:hover, .footer-social a:disabled {
  background-color: #ee3643;
}

.footer-connect-us, .footer-copyright, .footer-campain-info {
  display: flex;
  flex-direction: column;
}

.footer-connect-us a:hover, .footer-copyright a:hover {
  text-decoration: underline;
}

.footer-connect-us a:disabled, .footer-copyright a:disabled {
  color: #ee3643;
}

a.footer-nav-item:hover {
  text-decoration: underline;
}

a.footer-nav-item:disabled {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom p {
  margin-top: 0;
  margin-bottom: 0;
}

p.footer-campain-info {
  margin-right: 160px;
}

.footer-social {
  margin-right: 120px;
}

p.footer-connect-us {
  margin-right: 48px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* inner-page */
.inner-page .main {
  padding: 0;
}

.user-own-menu a {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
}

a.orders {
  margin-left: 20px;
  margin-right: 30px;
}

.user-page {
  position: relative;
}

.user-page::before {
  position: absolute;
  top: 5px;
  left: -19px;
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid #32425c;
  border-radius: 50%;
}

.inner-page .phone-button {
  display: inline-block;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding: 10px 49px 10px 70px;
  border: 3px solid #ffffff;
  text-decoration: none;
  margin-left: 7px;
}

.inner-page .address {
  display: block;
  margin-left: 10px;
  margin-top: 5px;
}

.breadcrambs {
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
  text-transform: uppercase;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.breadcrambs a, .right-filter-wrapper a {
  text-decoration: none;
  color: #000;
}

.breadcrambs-item {
  position: relative;
}

.breadcrambs-item:not(:nth-child(1)) {
  margin-left: 40px;
}

.breadcrambs-item:not(:nth-child(1))::before {
  position: absolute;
  content: "";
  background: url("../img/icon-right-small.svg") no-repeat;
  width: 8px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: -24px;
}

.inner-page h2 {
  width: auto;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 32px 0 34px 30px;
  background-color: #f2f6f8;
}

.main-content-wrapp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content-wrapp-left {
  width: 220px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content-wrapp-left h3 {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  padding: 12px 18px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 5px;
}

.content-wrapp-right {
  width: 700px;
}

.right-filter-wrapper {
  width: 100%;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  display: flex;
  padding: 12px 18px;
  background-color: #f7f3ec;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 5px;
}

.right-filter-wrapper a:not(.filter-button) {
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
}

.right-filter-wrapper a:not(.filter-button):hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.right-filter-wrapper a:not(.filter-button):disabled {
  color: #ee3643;
  border-bottom: none;
}

.filter-button svg {
  opacity: 0.18;
}

.filter-button:hover svg {
  opacity: 1;
}

.filter-button:disabled svg>path {
  fill: #ee3643;
}

.right-filter-wrapper h3 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

.price-filter {
  margin-left: 137px;
  margin-right: 71px;
}

.type-filter {
  margin-right: 65px;
}

.function-filter {
  margin-right: 42px;
}

.filter-up-button {
  margin-right: 20px;
}

.content-wrapp-left fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  border-bottom: 2px solid #f7f3ec;
}

.content-wrapp-left .battery-type-filter {
  border-bottom: none;
}

.content-wrapp-left legend {
  display: inline-block;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}

.slider-price-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.range-wrapper {
  background-color: #f7f3ec;
  padding: 25px 0px;
  padding-top: 38px;
  border-radius: 5px;
}

.range {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  margin-bottom: 9px;
  margin-left: 20px;
}

.range__button_1, .range__button_2 {
  position: absolute;
  top: 50%;
  margin: 0;
  margin-top: -35px;
  width: 20px;
  height: 22px;
  cursor: move;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background: url("../img/filter-button.svg") no-repeat #999;
}

.range__between {
  position: absolute;
  height: 3px;
  width: 0px;
  margin-top: 0;
  border: none;
  background-color: #00cb75;
}

.range-windows {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.range_inpt1, .range_inpt2 {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  width: 95px;
  border: none;
  background-color: #f7f3ec;
  padding: 12px 15px;
  border-radius: 5px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.filter {
  list-style: none;
}

.filter-option {
  margin-bottom: 17px;
  margin-left: -5px;
}

.filter-vendor label, .battery-type-filter label {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-option label {
  position: relative;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -34px;
  width: 27px;
  height: 27px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -34px;
  width: 27px;
  height: 27px;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-radio-checkbox+label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -34px;
  width: 25px;
  height: 26px;
  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.filter-radio-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -34px;
  width: 25px;
  height: 26px;
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.left-filter-button {
  width: 140px;
  color: #000;
  padding: 12px 35px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 30px;
}

input.left-filter-button {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.page-counter {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 13px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 60px;
  padding: 0;
}

.page-counter a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 12px 16px 12px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 10px;
}

.page-counter li:last-child>a {
  padding: 12px 32px;
}

.page-counter a:disabled {
  background-color: #ee3643;
  color: #fff;
}

.item-about {
  width: 100%;
  background-color: #f4f7f9;
  padding-top: 65px;
  padding-bottom: 70px;
}

.item-about h2 {
  padding: 0;
  margin-bottom: 25px;
}

.item-about p {
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
}

/* login-page */
.login-page .login-form {
  width: 620px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 423px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  background: #fff;
}

.login-page .login-wrapper {
  padding: 55px 80px;
  list-style: none;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.login-page .form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.login-page .form-item label {
  margin-bottom: 13px;
}

.login-page .form-item input {
  box-sizing: border-box;
  min-width: 192px;
  padding: 10px 14px;
  border: 2px solid #d7dcde;
}

.login-page .form-item input::placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999;
}

.login-page .form-item input:hover {
  border-color: #b5b5b5;
}

.login-page .form-item input:focus {
  outline: none;
  border-color: #ee3643;
}

.login-page .form-bottom {
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.login-page .login-button {
  width: 100%;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
}

.login-page .login-button:hover {
  background-color: #ca2c37;
}

.login-page .login-button:disabled {
  background-color: #ba2732;
}

/* reg-page */
.reg-page .reg-form {
  width: 620px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 423px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  background: #fff;
}

.reg-page .reg-wrapper {
  padding: 55px 80px;
  list-style: none;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.reg-page .form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.reg-page .form-item label {
  margin-bottom: 13px;
}

.reg-page .form-item input {
  box-sizing: border-box;
  min-width: 192px;
  padding: 10px 14px;
  border: 2px solid #d7dcde;
}

.reg-page .form-item input::placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999;
}

.reg-page .form-item input:hover {
  border-color: #b5b5b5;
}

.reg-page .form-item input:focus {
  outline: none;
  border-color: #ee3643;
}

.reg-page .form-bottom {
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.reg-page .reg-button {
  width: 100%;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
}

.reg-page .login-button:hover {
  background-color: #ca2c37;
}

.reg-page .login-button:disabled {
  background-color: #ba2732;
}